@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&display=swap);

  // viewport
   $tablet: 48em;
// --------------------------------------------------
// colors:
$sunset-brown: #91684A;
$dark-brown:#5E454B;
$light-dark:#C1AC95;
$light:#F5F4F4;
$light-cream:#FAEBE0;
$light-blue:#A1CAE2;
$light-green:#C9E4C5;
$dark-green:#C9E4C5;
// -------------------------------------------------
   // fonts
$font-stack: 'Poppins', sans-serif;
// 24px
$font-logo: normal 100 1.5em $font-stack;
// 22px
$font-title-lg: normal 500 1.375em $font-stack;
// 20px
$font-title-md: normal 300 1.25em $font-stack;
// 16px
$font-text: normal 100 1em $font-stack;
// --------------------------------------------------



// $fa-font-path: "@/assets/fontawesome-free-5.15.3-web/webfonts";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}

.mobile-logo-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


 



a{
  text-decoration: none;
 
  
}
ul{
  list-style: none;
  // text-align: center;
  text-align: center;
}


// viewport for tablets
@mixin tablet {
  @media (min-width:#{$tablet}){
    @content;  
  }
}