@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&display=swap);



// $fa-font-path: "@/assets/fontawesome-free-5.15.3-web/webfonts";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}

.mobile-logo-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

// fonts
$font-stack: 'Poppins', sans-serif;
// 24px
$font-logo: normal 100 1.5em $font-stack;
// 22px
$font-title-lg: normal 500 1.375em $font-stack;
// 20px
$font-title-md: normal 300 1.25em $font-stack;
// 16px
$font-text: normal 100 1em $font-stack;
 
// colors:
$sunset-brown: #91684A;


a{
  text-decoration: none;
  color: $sunset-brown;
  
}
ul{
  list-style: none;
  // text-align: center;
  text-align: center;
}