@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&display=swap);



// colors:

      $dark:#534E52;
      $light:#F5F4F4;
      $white:white;
      $primary:#39A2DB;
      $light-primary:lighten($primary,10%);
      $light-dark:lighten($dark,40%);

// box-shadows
      $bx-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 

// fonts desktop
     
 $font-stack: 'Poppins', sans-serif;
 $font-logo-name: normal 500 1.5em $font-stack;
 $font-greeting-hi: normal 100 3em $font-stack;
 $font-greeting-name: normal 900 4em $font-stack;
 $font-jumboName-desktop: normal 900 5em $font-stack;
 $font-jumboName-tablet: normal 900 5em $font-stack;
 $font-jumboName-mobile: normal 900 2em $font-stack;
 $font-title-lg: normal 500 1.5em $font-stack;
 $font-title-md: normal 400 1em $font-stack;
 $font-text: normal 400 1em $font-stack;

    



// $fa-font-path: "@/assets/fontawesome-free-5.15.3-web/webfonts";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid;
}


.mobile-logo-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


 



a{
  text-decoration: none;
 
  
}
ul{
  list-style: none;
  // text-align: center;
  text-align: center;
}


// responsive design

  // viewport
  $mobile: 26em;
  $tablet: 48em;
  
@mixin mobile {
  @media (max-width:#{$mobile}){
    @content;  
  }
}

@mixin tablet {
  @media (max-width:#{$tablet}){
    @content;  
  }
}


// .show-menu{
//   animation: showMenu 300ms ease-in-out forwards;
// }

// @keyframes showMenu{

//   0%{
//     transform: translateX(-170px);
//   }

//   100%{
//     transform: translateX(0px);
//   }

// } 


// .hide-menu{
//   animation: hideMenu 300ms ease-in-out forwards;
// }

// @keyframes hideMenu{

//   0%{
//     transform: translateX(0px);
//   }
  
//   100%{
//     transform: translateX(-170px);
//   }

// } 